<div class="container">
    <div>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" style="margin:-22px" (click)="closeModal('notify-modal')">&times;</button>
                    <h4 class="modal-title">Notify</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group shadow-textarea">
                        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-danger" (click)="closeModal('notify-modal')" >Close</button>
                    <button type="button" class="btn btn-default btn-success" (click)="closeModal('notify-modal')" >Send</button>
                </div>
            </div>
        </div>
    </div>
</div>


