<!-- <div class="container" style="background-color: yellow;">
    <div class="jumbotron">
      <h1 style="text-align: center;">Notification Centre</h1>
  </div>
</div> -->

<div class="jumbotron" style="height: 10px;">
    <h1 style="text-align: center;">Notification Centre</h1>
</div>

<!-- <div class="container">
<div (click)="showHide($event.target.id)" id="class1">Class 1</div>
<div id="class1" [ng-hide]="hide">
    <div>Class 1.1</div>
    <div>Class 1.2</div>
    <div>Class 1.3</div>
</div>
</div> -->