<div class="jumbotron text-center">
    <h1>Notification Center</h1>
</div>

<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active">Class Information</li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="well no-padding">
                            <div>
                                <ul class="nav nav-list nav-menu-list-style">
                                    <li>
                                        <label class="tree-toggle nav-header glyphicon-icon-rpad"><a class="item" (click)="updateTable()"><span class="glyphicon glyphicon-folder-close m5"></span>
                                            All Classes</a></label>
                                    </li>
                                    <li *ngFor="let item of details">
                                        <label class="tree-toggle nav-header glyphicon-icon-rpad">
                                            <a class="item" (click)="updateTable(item.sections)"><span class="glyphicon glyphicon-folder-close m5"></span>{{item.name}}</a>
                                            <span class="menu-collapsible-icon glyphicon glyphicon-chevron-down"></span></label>
                                        <ul class="nav nav-list tree bullets" *ngFor="let section of item.sections">
                                            <li (click)="updateTable(section.students)"><a class="item">&emsp;{{section.name}}</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-1">
                    <button class="btn btn-danger navbar-btn pull-right"  onclick="openNotify()">Notify</button>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-danger navbar-btn pull-right">Add</button>
                </div>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let section of tableData">
                            <th scope="row">{{section.id}}</th>
                            <td>{{section.name}}</td>
                            <td><button class="btn btn-danger navbar-btn" onclick="openNotify()">Notify</button></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <!--  Attendance Modal -->
   <div class="modal fade" id="my-modal" role="dialog">
     <div class="modal-dialog modal-lg">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" onclick="closeModal()">&times;</button>
           <h4 class="modal-title">Students on leave Header</h4>
         </div>
         <div class="modal-body">
          <ul id="assetNameMenu"></ul>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" onclick="closeModal()" >Close</button>
           <button type="button" class="btn btn-default" onclick="closeModal()" >Send</button>
         </div>
       </div>
     </div>
   </div>
</div>
 
<!-- Notify Modal -->
<!-- <div class="container">
    <div class="modal fade" id="notify-modal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeNotify()">&times;</button>
                    <h4 class="modal-title">Notify</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group shadow-textarea">
                        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-danger" onclick="closeNotify()" >Close</button>
                    <button type="button" class="btn btn-default btn-success" onclick="closeNotify()" >Send</button>
                </div>
            </div>
        </div>
    </div>
</div> -->



<modal id="notify-modal">
    <div class="modal">
        <div class="modal-body" style="width: 683px;height: 547px; margin:30px 250px">
            <app-notify-modal *ngIf=showWebCam></app-notify-modal>
            <button type="button" style ="margin:0px 280px"
            (click)="closeModal('notify-modal');"
            class="btn btn-danger">End Call</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>

<script>
    
</script>
<script>
    function openModal(){
        console.log("here iasda m");
        $('#my-modal').modal();
        var assetList = $('#assetNameMenu')
            assetList.html("");
        $.each(countries, function(i)
        {
            var li = $('<li/>')
                .addClass('ui-menu-item')
                .attr('role', 'menuitem')
                .appendTo(assetList);
            
            
          
           var aaa = $('<a>')
                .addClass('ui-all')
                .appendTo(li);
          
          var input = $('<input/>')
                .addClass('ui-all')
                .attr('type', 'checkbox')
                .appendTo(aaa);
                 
          
          var aaaa = $('<span>')
                .text(countries[i])
                .appendTo(aaa);

        });
        
    }  

    function closeModal(){
        $('#my-modal').modal('hide');
    } 

    var countries = ['Student 1', 'Student 2', 'Student 3', 'Student 4'];
     
    function openNotify() {
        $('#notify-modal').modal();
    }

    function closeNotify() {
        $('#notify-modal').modal('hide');
    }
        
        
</script>

