<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url('../../assets/image/bg-01.jpg');"></div>
        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50" style="background-image: url('images/slider_background.jpg');">
            <form class="homediv">
                <div>
                        <div class="logo">
                                <img src="../../assets/image/logo.png" alt="">
                            <span id="logotext"> Let's do it</span>
                        </div>
                        

                        <div class="hometabs" >
                            <ul>
                            <li [routerLink]="['/guest-lecture']">
                                <div class="hero_box d-flex flex-row align-items-center justify-content-start">

                                <img src="../../assets/image/professor.svg" class="svg" alt="">
                                <span class="logo-text" href="">Guest Lecture</span>
                                </div>
                            </li>
                                
                            <li [routerLink]="['/notice-board']">
                                <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <img src="../../assets/image/books.svg" class="svg" alt="">
                                <span class="logo-text" href="">Notice Board</span>
                                </div>
                            </li>
                                
                            </ul>

                        </div>
                </div>
            </form>
        </div>
    </div>
</div>

