<img src="../../assets/image/image01.png" width="60%" style="float:left;">

<div class="row">
    <div class="col">
        <img src="../../assets/image/pen-icon.png" style="float: left; height: 174px;">
    </div>
    <div class="col">
        <h2 style="margin: 64px -56px;">Lets Do It</h2>
    </div>
</div>

<div class="list-group" >
    <a  [routerLink]="['/guest-lecture']" class="list-group-item list-group-item-action" style="border: 0px;">
        <div class="row">
            <div class="col">
                <img src="../../assets/image/guest-lecture.png" style=" margin: 8px 33px;float: left; height: 74px;">
            </div>
            <div class="col">
                <h2 style="margin: 23px -56px;">Guest Lecture</h2>
            </div>
        </div>
      </a>
      <a  [routerLink]="['/notice-board']" class="list-group-item list-group-item-action" style="border: 0px;">
        <div class="row">
            <div class="col">
                <img src="../../assets/image/notice-board.png" style="margin: 47px;float: left; height: 60px;">
            </div>
            <div class="col">
                <h2 style="margin: 64px -56px;">Notice Board</h2>
            </div>
        </div>
      </a>
</div>

